# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/.idea/
android/local.properties
android/key.properties
android/app/release/
android/app/debug/
android/app/profile/
android/captures/
*.jks
*.keystore
android/key.properties

# iOS / macOS / web (Yol 1 icin uretilmeyebilir ama korumaya alalim)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
macos/Pods/
**/Generated.xcconfig
**/flutter_export_environment.sh

# Coverage / logs
coverage/
*.log
